body{
    font-family: 'Courier New', Courier, monospace;
    max-width: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;

}
#main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #ffffff;
}